type hal_togg_emre, domain;
type hal_togg_emre_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(hal_togg_emre);

hal_server_domain(hal_togg_emre, hal_vehicle)

type emr_vehicle_device, dev_type;
allow hal_togg_emre emr_vehicle_device:chr_file { read write open ioctl };